{{ define "channelPage" }}
{{ template "header" }}
<main class="search-area">
    {{ template "channel" . }}
    TODO Episodes:
    {{range .Channel.Items}}
        <p>{{.Title}}</p>
    {{end}}
</main>
{{ template "footer" }}
{{ end }}
