{{ define "home" }}
{{ template "header" }}
<main class="search-area">
    <hgroup class="search-animation">
        <h1>Subscribe to your favourite feed!</h1>
        <div style="display: flex">
            <h3>Your&nbsp;</h3>
            <div class="text-stack">
                <h3>exciting calendar event</h3>
                <h3>top blog</h3>
                <h3>beloved podcast</h3>
                <h3>number one forum thread</h3>
                <h3>go-to YouTube channel</h3>
            </div>
        </div>
    </hgroup>

    <form action="/search" hx-get="/search" hx-target="#search-results" hx-push-url="true">
        <div class="search-box">
            <button type="button" aria-label="Filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-filter"
                    viewBox="0 0 16 16">
                    <path
                        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <input type="search" autofocus name="search" placeholder="Search for a feed!" />
            <button type="submit" aria-label="Send">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </form>

    <div id="search-results">
        {{ template "results" . }}
    </div>
</main>
{{ template "footer" }}
{{ end }}
